@font-face {
  font-family: "Ikaros-Light";
  font-style: normal;
  font-display: swap;
  src: url("font/Ikaros-Light.otf") format("opentype");
}

@font-face {
  font-family: "Code";
  font-weight: normal;
  font-display: swap;
  src: url("font/codel.otf") format("opentype");
}

@font-face {
  font-family: "Code";
  font-weight: bold;
  font-display: swap;
  src: url("font/codeb.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
}

.bgvid {
	
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
	
}

.container {
	
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 200px;
	border: 2px solid rgb(200, 200, 200);
	height: 95%;
	width: 60%;
	backdrop-filter: blur(10px);
	animation: fadein 3s;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
  
	padding-right: 5%;
	padding-left: 5%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  
}

@keyframes fadein {
	
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

.profile {
	
	border: 2px solid rgb(200, 200, 200);
	border-radius: 120px;
	height: 15vw;
	
}

.git {
	
	border: 2px solid rgb(200, 200, 200);
	border-radius: 120px;
	height: 15vw;
  
}

.profile:hover, .git:hover {
  box-shadow: 0 0 20px rgb(200, 200, 200);
}

.title {
	
  font-family: "Code";
  font-size: 4vh;
  color: rgb(200, 200, 200);
  text-align: center;
  margin-bottom: 10%;
    
}

.p1, .p2 {
	
  font-family: "Code";
  font-size: 2.3vh;
  color: rgb(200, 200, 200);
  
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.p1 {
	display: none;
}

.p2 {
	display: inline-block;
}

.profile:hover, .git:hover {
	box-shadow: 0 0 0 rgb(0, 0, 0);
}
	

@media (orientation: landscape) {

	.container {
	  
		flex-direction: row;
		width: 70%;
		height: fit-content;
		height: -moz-max-content;
		
	}
	
	.content {		
		min-width: fit-content;		
	}

	.profile {	  
		border: 2px solid rgb(200, 200, 200);
		border-radius: 120px;
		width: 20%;		
		height: auto;
		margin-right: 4%;	
	}
  
	.git {	  
		border: 2px solid rgb(200, 200, 200);
		border-radius: 120px;
		width: 20%;
		height: auto;
		margin-left: 4%;
	}
  
	.profile:hover, .git:hover {
		box-shadow: 0 0 20px rgb(200, 200, 200);
	}
	
	.title {
		padding-top: 3%;
		padding-bottom: 3%;
		font-size: 2.5vw;
		margin-bottom: 0%;
	}

	.p1, .p2{
		padding-bottom: 3%;
		font-size: 1.2vw;
	}
	
	.p1 {
		display: inline-block;
	}

	.p2 {
		display: none;
	}
	
}
